body {
  font-family: "Young Serif", serif;
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  gap: 10px;
  align-content: center;
  position: sticky;
  top: 0%;
  background-color: white;
  z-index: 1;
}

.navbar__s1__title {
  color: #a435f0;
  ;
}

.navbar__s2 {
  border: 1px solid black;
  border-radius: 30px;
  width: 60%;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.navbar__s2 input {
  width: 80%;
  border: none;

}

.navbar__s2 input :hover {
  width: 100%;
  color: black;
}

.navbar__s2 input:focus {
  outline: none;
}

.navbar__s3 {
  display: flex;
  gap: 15px;
  align-items: center;
}

.catogery {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border-bottom: 1px black solid;


}


.catogery button {
  background-color: #a435f0;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 30px;
  border: none;

}

.myLearning {
  position: relative;
  cursor: pointer;
}

.myLearning__popup {
  position: absolute;
  background-color: white;
  border: solid black 1px;
  width: 100px;
  padding: 15px;
  right: 60px;
  top: 50px;
  border-radius: 10px;
  display: none;
}
.myLearning:hover .myLearning__popup{
  display:block ;
}

.catogery button:hover {
  background-color: #e8e6e9;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 30px;
  border: 1px darkblue solid;
  transition-duration: 1ms;
}

.sale__image {
  width: 100%;
  position: relative;
}

.sale__image__offer {
  width: 25%;
  background-color: white;
  padding: 2%;
  border: solid black 2px;
  position: absolute;
  top: 10%;
  left: 10%;
}

.recommeneded {
  padding: 10px;


}

.recommeneded__continer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Cources {
  width: 200px;
  padding: 10px;
}

.loo {
  width: 80%;
  height: 50%;
}

.topics__container {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.topics__container p {
  border: 2px rgb(0, 0, 0) solid;
  padding: 10px;
  flex-basis: 26%;
  flex-grow: 3;
}

.final__topics {
  padding: 10px;
  margin: 10px;

}

.final__topics__s1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
}

.footer {
  padding: 30px;
  color: white;
  background-color: black;
}

.footer__ {
  display: flex;
  gap: 10px;
}

.footer__three {
  display: flex;
  justify-content: space-between;
}

.footer__one p {
  margin: 30px;
}

.footer__two p {
  margin: 20px;
  margin-top: 31px;
}